@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.simpleColor{
  color:gray
}
.simpleColor:hover{
 color: #0d75b0; 
}
.redColor{
  color:#cc2c64;
}
.redColor:hover{
 color: #0d75b0; 
}
.cardImage {
  transition: transform 0.3s ease; 
  background-color: whitesmoke;
  color:gray
}

.cardImage:hover {
  transform: scale(1.2);
  background-color: chocolate;
  border-radius: 5%;
  color: whitesmoke;
}
.cardColor{
  background-color: whitesmoke;
  color:gray
}
.cardColor:hover{
  background-color: chocolate;
  border-radius: 5%;
  color: whitesmoke;
}